@using System.Security.Cryptography
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
	<link rel="stylesheet" href="~/StyleSheet.css" asp-append-version="true" />

</head>
<body>
<div>
	<div class="navbar">
		<div>
			<a asp-controller="Home" asp-action="Index">MeowZone</a>
			<a asp-controller="Category" asp-action="ShowCategories">Categories</a>
			<a asp-controller="Cat" asp-action="ShowCats">Your cats</a>
		</div>
		<div>
			@{
				if (User.Identity.IsAuthenticated)
				{
					@:Hello @User.Identity.Name!
					<a asp-controller="Account" asp-action="Logout">Logout</a>
				}
				else
				{
					<a href="#">Login</a>
					<a asp-controller="Account" asp-action="Register">Register</a>
				}

			}

			
		</div>

	</div>
	@RenderBody()
</div>
</body>
</html>
