<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
	<link rel="stylesheet" href="~/StyleSheet.css" asp-append-version="true" />

</head>
<body>
<div>
	<div class="navbar">
		<div>
			<a asp-controller="Home" asp-action="Index">Home</a>
			<a asp-controller="Category" asp-action="ShowCategories">Categories</a>
			<a asp-controller="Cat" asp-action="ShowCats">Your cats</a>
		</div>
		<div>
			<a href="#">Sign in</a>
			<a href="#">Register</a>
		</div>

	</div>
	@RenderBody()
</div>
</body>
</html>
